@using MVCStok.Models.Entity
@*//23.adım kütüphaneleri*@
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblmusteri>
@*@model List<tblmusteri>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*22.Adımdevam2*@
<table class="table table-bordered">
   
    <tr>
        <th>ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>ŞEHİR</th>
        <th>BAKİYE</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

   

    @foreach (var x in Model)
    {

        <tr>
            <td>@x.id</td>
            <td>@x.ad</td>
            <td>@x.soyad</td>
            <td>@x.sehir</td>
            <td>@x.bakiye</td>
            @*//26.AdımRevize*@
            <td><a href="/Musteri/MusteriSil/@x.id" class="btn btn-danger">Sil</a></td>
            @*//27.AdımRevize*@
            <td><a href="/Musteri/MusteriGetir/@x.id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>

@*//24.ADIM (alt taraf sekme numaralandırma )*@
@Html.PagedListPager((IPagedList)Model, sayfa=>Url.Action("Index", new {sayfa}))
@*//25.ADIMek*@
<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri</a>

